.mainContainer {
    display: flex;
    flex-direction: row;
    width: 80%;
    margin: auto;
    border: solid red 1px;
  }
  
  .leftSideColumn {
    flex: 1;
  }
  
  .rightSideColumn {
    flex: 1;
  }
