.jumbotron {
  text-align: center;
  background-color: rgb(187, 79, 79);
  color: black;
  border-radius: 0;
  padding-bottom: 10px;
  padding-top: 10px;
}

.display-1 {
  color:white;
  text-align: center;
}