/*CSS for the login page, includes different screen sizes*/
@import url('https://fonts.googleapis.com/css?family=Titan+One');

  
   
  
  /* added css for game page */
  .mainContainer {
    display: flex;
    flex-direction: row;
    width: 80%;
    margin: auto;
    border: solid red 1px;
  }
  
  .leftSideColumn {
    flex: 1;
  }
  
  .rightSideColumn {
    flex: 1;
  }
